name: Generate changelog

on:
    push:
        tags:
            - "XXX*.*.*" # @WARN disable this workflow temporarely

env:
    CI: 1
    GITHUB_TOKEN: ${{ secrets.PERSONAL_PAT }}
    PYTHON_VERSION: "3.14"

permissions:
    contents: write # to be able to publish a GitHub release
    issues: write # to be able to comment on released issues
    pull-requests: write # to be able to comment on released pull requests
    id-token: write # to enable use of OIDC for npm provenance
    packages: write

jobs:
    changelog:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Generate changelog
              id: changelog
              uses: cocogitto/cocogitto-action@v4
              with:
                command: changelog
                args: --at ${{ github.ref_name }}

            - name: Create Github release with changelog contents
              uses: softprops/action-gh-release@v2
              with:
                body: ${{ steps.changelog.outputs.stdout }}
                tag_name: ${{ github.ref_name }}
